@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
  padding-top: 10px;
  background: #222;
  font-family: Montserrat;
}
.title {
  font-family: Roboto Slab;
  font-size: 28px;
  padding-top: 5px;
}

.imondspecial{
  border-radius: 50px;
}

.imondprofile {
  border: 3px solid #eee;
  background: #ooo;
  border-radius: 25px;
  z-index: 2;
}

.imondwhite {
  color: #fff;
}

hr.imondhr {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #eee inset;
}
.imondgray {
  background: #eee;
  border-top-left-radius:25px;
  border-bottom-right-radius:25px
}
